- if user_signed_in?
  %li
    = link_to edit_user_registration_path do
      %span.glyphicon.glyphicon-cog
      Settings
  %li
    = link_to destroy_user_session_path, method: 'delete' do
      %span.glyphicon.glyphicon-off
      Log out
- else
  %li
    = link_to new_user_session_path do
      %span.glyphicon.glyphicon-log-in
      Login
  %li
    = link_to new_user_registration_path do
      %span.glyphicon.glyphicon-saved
      Register
